 @font-face { 
     font-family: 'Permanent Marker', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
 }

body {
    background-color: turquoise;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 50%;
    margin-left: 25% ;
}

.title {
    display: flex;
    margin-left: 45%;
    font-family: 'Permanent Marker', cursive;
}
.eateriesDropDown {
   
}
.eateryCards {
    display:inline-block;
    justify-content:center;
    text-align: center;
    border: 2px solid hotpink;
    max-width: 50%;
    margin-left: 25%;
    font-family: 'Permanent Marker', cursive;
}

.parkCards {
    display:inline-block;
    justify-content:center;
    text-align: center;
    border: 2px solid hotpink;
    max-width: 50%;
    margin-left: 25%;
    font-family: 'Permanent Marker', cursive;
}

.bizarrerieCards {
    display:inline-block;
    justify-content:center;
    text-align: center;
    border: 2px solid hotpink;
    max-width: 50%;
    margin-left: 25%;
    font-family: 'Permanent Marker', cursive;
}